<h1>Repo test</h1>

<% @data["trials"][0]["sites"][0..10].each do |repo| %>
  <ul>
    <li><%= "#{repo["org_coordinates"]}"%></li>
  </ul>
<% end %>


results = []


coordinates = repo["org_coordinates"]
results << coordinates


results
