<div class="results">
<h1>Results</h1>
  <% @sites.each do |site| %>
    <ul>
      <li>
        <p><%= "#{site["org_address_line_1"]}"%></p>
        <p><%= "#{site["org_address_line_2"]}"%></p>
        <p><%= "#{site["org_phone"]}"%></p>
      </li>
    </ul>
  <% end %>
</div>



