<h1>Search NCI Trials</h1>
<body>
  <div class="search">
    <form id="search-form" action="/nci" method="post">
      <label for="search">Search State</label>
      <input id="search" type="text" name="state">
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
